<h1>Welcome to MidRib!</h1>

<ul>
  <li><a href="/api/1.0/posts">View posts</a></li>
  <li><a href="#">Create a post</a></li>
  <li><a href="/api/1.0/users">View users</a></li>
  <li><a href="#">Create/change account</a></li>
</ul>
