<h1>Welcome to MidRib!</h1>

<ul>
  <li><%= link_to 'View posts', api_v1_posts_path %></li>
  <li><a href="#">Create a post</a></li>
  <li><a href="#">View users</a></li>
  <li><a href="#">Create/change account</a></li>
</ul>
